.content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  height: 100vh;
}

.content--gradient {
  background: var(--main-gradient);
}

@media (max-width: 768px) {
  .content {
    height: calc(100vh - 57px);

    gap: 20px;
  }
}
