.passwordSection {
  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  margin-top: var(--space-4);
}

.passwordSection__title {
  margin: 0;

  color: var(--color-neutral-gray-800);
  font-family: var(--font-family-text);
  font-size: var(--font-size-text-base);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-text-base);
}

.passwordSection__fields {
  width: 632px;

  display: grid;
  grid-template-columns: repeat(2, 312px);
  column-gap: var(--space-2);
  row-gap: var(--space-4);
}

.passwordSection__spacer {
  display: block;
}

@media (max-width: 920px) {
  .passwordSection__fields {
    width: 100%;
    grid-template-columns: 1fr;
    row-gap: var(--space-3);
  }

  .passwordSection__spacer {
    display: none;
  }
}

@media (max-width: 768px) {
  .passwordSection {
    gap: var(--space-4);
  }

  .passwordSection__title {
    font-size: var(--font-size-text-sm);
    line-height: var(--line-height-text-sm);
  }
}
