.card {
    padding: 12px 16px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    border-radius: var(--radius-sm);
    box-shadow: 0 4px 4px 0 var(--color-bg-gray-200);
}

.card__top {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.card__title {
    color: var(--color-neutral-gray-800);

    font-family: var(--font-family-text), sans-serif;
    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-text-sm);
}

.card__dealLabel {
    color: var(--color-neutral-gray-400);

    font-family: var(--font-family-text), sans-serif;
    font-size: var(--font-size-text-xs);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-text-xs);
}

.card__dealTitle {
    color: var(--color-neutral-gray-500);

    font-family: var(--font-family-text), sans-serif;
    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-text-sm);
}

.card__bottom {
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    gap: 4px;
}

.card__due {
    color: var(--color-neutral-gray-500);

    font-family: var(--font-family-text), sans-serif;
    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-text-sm);
}

.card__status {
    font-family: var(--font-family-text), sans-serif;
    font-size: var(--font-size-text-sm);
    font-weight: var(--font-weight-regular);
    line-height: var(--line-height-text-sm);

    white-space: nowrap;
}
