.formStatusMessage {
    margin: 0;

    font-size: var(--font-size-text-xs);
    line-height: var(--line-height-text-xs);
}

.formStatusMessage--error {
    color: var(--color-accent-red-500);
}

.formStatusMessage--success {
    color: var(--color-accent-green-500);
}
