.summaryInfo {
    width: 100%;

    display: flex;
    flex-direction: column;

    gap: 2px;
}

.table__head {
    display: flex;
    flex-direction: column;

    gap: 2px;
}

.table__body {
    display: flex;
    flex-direction: column;

    gap: 2px;
}