.confirmEmailPage {
  width: 100%;
}

.confirmEmailPage__title {
  margin: 0 0 var(--space-6);

  color: var(--color-neutral-gray-800);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-h2);
}

.confirmEmailPage__description {
  margin: 0 0 var(--space-6);

  color: var(--color-neutral-gray-800);
  font-size: var(--font-size-text-base);
  line-height: var(--line-height-text-base);
}

.confirmEmailPage__form {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);

  width: 100%;
  min-width: 304px;
}

.confirmEmailPage__field {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.confirmEmailPage__label,
.confirmEmailPage__resendText {
  color: var(--color-neutral-gray-500);
  font-size: var(--font-size-text-xs);
  line-height: var(--line-height-text-xs);
}

.confirmEmailPage__submit {
  width: 100%;
  margin-top: var(--space-8);
}

.confirmEmailPage__resend {
  margin-top: var(--space-8);
}

.confirmEmailPage__resendText {
  margin: 0 0 var(--space-2);
}

.confirmEmailPage__resendButton {
  width: 100%;
}

.confirmEmailPage__error {
  color: var(--color-accent-red-500);
  font-size: var(--font-size-text-xs);
  line-height: var(--line-height-text-xs);
}
