.headerMenuFallback {
  padding: 8px 40px;
  width: 100%;
  min-height: 57px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 12px 12px;
  border-bottom: 1px solid var(--color-bg-gray-200, #e5e7eb);
  background: var(--color-bg-gray-100);
}

.headerMenuFallback__logo {
  width: 24px;
  height: 24px;
}
