.profileMenuItem {
    padding: 8px 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    color: inherit;
    text-decoration: none;
    overflow: hidden;

    transition: color var(--animation-normal) background var(--animation-normal);
}

.profileMenuItem_mobile {
    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: color var(--animation-normal) background var(--animation-normal);
}

.profileSidebar_collapsed {
    margin: 0 auto;
    padding: 0;
    width: 40px;
    height: 40px;

    justify-content: center;
    gap: 0;
}

.profileMenuItem:hover:not(.profileSidebar_collapsed) {
    color: var(--color-accent-blue-600);
    background: var(--color-bg-gray-200);
}

.profileMenuItem_active {
    color: var(--color-accent-blue-600);
}

.profileSidebar__userName {
    margin: 0;
    max-width: 180px;

    opacity: 1;
    transform: translateX(0);

    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;

    transition:
            max-width var(--animation-normal),
            opacity var(--animation-normal),
            transform var(--animation-normal);
}

.profileSidebar_collapsed .profileSidebar__userName {
    max-width: 0;

    opacity: 0;
    transform: translateX(-8px);
}
