.authLayout {
    min-height: 100dvh;
    width: 100%;

    background: var(--main-gradient);
}

.authLayout__leftSide {
    grid-column: 2 / span 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 40px;
}

.authLayout__rightSide {
    grid-column: 8 / span 4;
}

.authLayout__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    gap: 16px;
}

.content__logo {

}

.content__mainText {
    max-width: 480px;

    margin: 0;

    color: var(--color-neutral-gray-800);

}

.authLayout__action {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: start;
}

.action__text {
    margin: 0;
    color: var(--neuteral-color);
}

.action__btn {
    padding: 0;
    height: auto;
}

@media (max-width: 768px) {
    .authLayout {
        align-items: start;
    }

    .authLayout__leftSide,
    .authLayout__rightSide {
        grid-column: 1 / -1;
    }

    .authLayout__leftSide {
        gap: var(--space-8);
    }
}
